{% extends 'webshop/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% block head_title %}Termék részletek{% endblock %}

<div class="site-section text-white">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-6 overflow-hidden">
                <img class="card-img-top hd-image-trans" alt="{{ product.name }}" src="https://www.wallpaperbetter.com/wallpaper/90/40/918/logos-nike-famous-sports-brand-dark-background-shoe-colorful-rays--wallpaper.jpg">
            </div>
            <div class="col-md-6 mt-2 mt-md-0">
                <h2>{{ product.name }}</h2>
                <p>{{ product.details }}</p>
                <p>{{ product.description }}</p>
                {% if product.free_stock > 0 %}
                <p>Készlet: {{ product.free_stock }} db</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-lg-6">
                        {{ form|crispy }}
                    </div>
                    <div class="d-flex justify-content-between mt-2 col-lg-6">
                        <h5>{{ product.get_gross_price }} Ft</h5>
                        <button type="submit" class="btn btn-primary buy-now">Kosárba</button>
                    </div>
                </form>
                {% else %}
                <p>This item is out of stock</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}