{% extends 'webshop/base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container py-5">
        <div class="row justify-content-center">
            {% if categories %}
            <div class="col-lg-2">
                <div class="p-4 mb-4 hd-shadow" style="min-width:150px;">
                    <h6 class="text-uppercase text-white">Kategóriák:</h6>
                    <ul style="margin-left: -1rem;">
                        {% for category in categories %}
                        <li class="mb-1">
                            <a href="?category={{ category.id }}" class="d-flex text-decoration-none text-white">
                                <span class="border-bottom border-secondary">{{ category.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-10">
                <div class="row">
                    {% if products %}
                        {% for product in products %}
                            {% if product.is_displayable %}
                            <div class=" col-lg-4 col-md-6 mb-4 text-white">
                                <div class="card bg-dark">
                                    <div class="card-img overflow-hidden">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="card-img-top hd-image-trans img-fluid" alt="{{ product.name }}"
                                                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/product_placeholder.png' %}{% endif %}">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="small text-uppercase text-muted">{{ product.category_id }}</p>
                                            {% if product.get_action_percent > 0 %}
                                            <p class="small hd-red-a400"><s>{{ product.get_admin_view_gross_price }} Ft</s></p>
                                            {% endif %}
                                        </div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="">{{ product.name }}</h5>
                                            <h5>{{ product.get_view_gross_price }} Ft</h5>
                                        </div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <p class="text-muted mb-0">Készlet: <span class="fw-bold">{{ product.free_stock }}
                                                    db</span></p>
                                            <a class="btn btn-primary" href="{{ product.get_absolute_url }}">Részletek</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <h3 class="text-center text-white">Jelenleg egyetlen termék sem áll rendelkezésre.</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}