{% extends 'webshop/base.html' %}
{% load static %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                src="https://dummyimage.com/400x400">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{ product.producer }}</h2>
                <h1 class="text-white text-3xl title-font font-medium mb-1">{{ product.name }}</h1>
                <p class="leading-relaxed">{{ product.description }}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">
                    <div class="flex relative">
                        <span class="mr-3">Mennyiség</span>
                        <input type="text" id="full-name" name="full-name"
                            class="w-full text-center bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:ring-2 focus:ring-green-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="flex ml-6 items-center">
                        <span class="mr-3">Kiszerelés</span>
                        <div class="relative">
                            <select
                                class="rounded border border-gray-700 focus:ring-2 focus:ring-green-900 bg-transparent appearance-none py-2 focus:outline-none focus:border-green-500 text-white pl-3 pr-10">
                                <option>db</option>
                                <option>karton</option>
                            </select>
                            <span
                                class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <span class="title-font font-medium text-2xl text-white">{{ product.get_price }} Ft</span>
                    <button
                        class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded">Kosárba</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}