{% extends 'administration/base.html' %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Vevői megrendelések</h1>
        </div>
        <div class="w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Bizonylatszám</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Vevő</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Rendelés napja</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Nettó ár</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Bruttó ár</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Fizetési mód</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Státusz</th>
                        
                    </tr>
                </thead>
                <tbody  class="divide-y-2 divide-gray-800">
                    {% for order in orders %}
                        <tr class="hover:text-gray-300">
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.document_number }}</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.customer_id.username }}</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.order_date|date:"Y. m. d." }}</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.get_net_price }} Ft</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.get_price }} Ft</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.payment_type_display }}</a></td>
                            <td class="px-4 py-3"><a href="{{ order.get_absolute_url }}" class="block">{{ order.status_display }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}