{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Kiszerelés{% endblock head_title %}

{% block content %}

<div class="container my-5 text-white">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5 hd-shadow p-3">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    {% if package.is_deletable %}
                    <button type="submit" class="btn btn-primary me-2">Mentés</button>
                    {% endif %}
                    <a href="{% url 'admin_core:admin_product:package-list' %}" class="btn btn-primary">Mégsem</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}