{% extends 'administration/base.html' %}

{% block head_title %}{{ package.summary_name }} törlés{% endblock head_title %}

{% block content %}

<div class="container my-5 text-white p-3 hd-shadow w-50 text-center">
    <form method="POST">
        {% csrf_token %}
        <h2>Biztosan törölni szeretné a/az {{ package.summary_name }} nevű kiszerelést?</h2>
        <input type="submit" value="Igen" class="btn btn-primary">
        <a href="{% url 'admin_core:admin_product:package-list' %}" class="btn btn-primary ms-2">Nem</a>
    </form>
</div>

{% endblock content %}