{% extends 'administration/base.html' %}
{% load static %}

{% block head_title %}Termékek{% endblock head_title %}

{% block content %}

<div class="container py-5">
    <div class="text-white text-center">
        <h1>Termékek</h1>
    </div>
    <a href="{% url 'admin_core:admin_product:product-create' %}" class="btn btn-primary btn-sm mt-5">Új termék</a>
    <table class="table table-dark table-hover mt-2">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Név</th>
                <th scope="col">Gyártó</th>
                <th scope="col">Nettó ár</th>
                <th scope="col">Áfa</th>
                <th scope="col">Szabad készlet</th>
                <th scope="col">Foglalt készlet</th>
                <th scope="col">Kategória</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                {% if product.has_no_open_document %}
                    <td>
                        <a href="{% url 'admin_core:admin_product:product-delete' product.id %}">
                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </a>
                    </td>
                {% else %}
                    <td><a href="{{ product.get_absolute_admin_url }}" class="d-block text-white text-decoration-none"></a>
                    </td>
                {% endif %}
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.name }}</a></td>
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.producer }}</a></td>
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.get_admin_view_net_price }} Ft</a></td>
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.vat }}%</a></td>
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.free_stock }} db</a></td>
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.reserved_stock }} db</a></td>
                {% if product.category_id %}
                <td><a href="{{ product.get_absolute_admin_url }}"
                        class="d-block text-white text-decoration-none">{{ product.category_id }}</a></td>
                {% else %}
                <td><a href="{{ product.get_absolute_admin_url }}" class="d-block text-white text-decoration-none">-</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}