{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Termék{% endblock head_title %}

{% block content %}

<div class="container my-5 text-white">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row hd-shadow p-3">
            <div class="col-4">
                {{ form.name|as_crispy_field }}
                {{ form.net_price|as_crispy_field }}
                {{ form.vat|as_crispy_field }}
                {{ form.category_id|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.producer|as_crispy_field }}
                {{ form.free_stock|as_crispy_field }}
                {{ form.reserved_stock|as_crispy_field }}
                {{ form.image|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.package_type_id|as_crispy_field }}
                {{ form.action_id|as_crispy_field }}
            </div>
                {{ form.description|as_crispy_field }}
            <div class="text-center mt-3">
                {% if product.has_no_open_document %}
                <button type="submit" class="btn btn-primary me-2">Mentés</button>
                {% endif %}
                <a href="{% url 'admin_core:admin_product:product-list' %}" class="btn btn-primary">Mégsem</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}