{% extends 'webshop/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Regisztráció{% endblock %}

{% block content %}

<div class="py-5">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <h1 class="mb-5">Regisztráció</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Regisztráció">
                </form>
                <div class="mt-2">
                    <a class="text-decoration-none hd-text-lblue" href="{% url 'webshop_core:login' %}"><small>Bejelentkezés</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}