{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}GY.I.K. módosítás{% endblock %}

{% block content %}

<div class="container my-5 text-white">
    <div class="text-center">
        <h2>GY.I.K. módosítás</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row hd-shadow p-3">
            <div class="col-4">
                {{ form.topic_id|as_crispy_field }}
            </div>
            <div class="col-8">
                {{ form.question|as_crispy_field }}
                {{ form.answer|as_crispy_field }}
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-primary me-2">Mentés</button>
                <a class="btn btn-primary" href="{% url 'admin_core:crm:faq-list' %}">Vissza</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}