{% extends 'administration/base.html' %}

{% block head_title %}GY.I.K.{% endblock head_title %}

{% block content %}

<div class="container text-white my-5">
    <div class="text-center">
        <h1>GY.I.K.</h1>
    </div>
    <a href="{% url 'admin_core:crm:faq-create' %}" class="btn btn-primary btn-sm mt-5">Új GY.I.K.</a>
    <table class="table table-dark table-hover mt-2">
        <thead>
            <tr>
                <th scope="col"></th>
                {% if last_order_type and last_order_type == 'desc' %}
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=topic_id__name">Témakör</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=question">Kérdés</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=answer">Válasz</a></th>
                {% else %}
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=-topic_id__name">Témakör</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=-question">Kérdés</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=-answer">Válasz</a></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for faq in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'admin_core:crm:faq-delete' faq.id %}">
                            <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        </a>
                    </td>
                    <td><a href="{{ faq.get_absolute_url }}" class="d-block text-white text-decoration-none">{{ faq.topic_id.name }}</a></td>
                    {% if faq.question|length > 30 %}
                        <td><a href="{{ faq.get_absolute_url }}" class="d-block text-white text-decoration-none">{{ faq.question|slice:30 }}...</a></td>
                    {% else %}
                        <td><a href="{{ faq.get_absolute_url }}" class="d-block text-white text-decoration-none">{{ faq.question }}</a></td>
                    {% endif %}
                    {% if faq.answer|length > 30 %}
                        <td><a href="{{ faq.get_absolute_url }}" class="d-block text-white text-decoration-none">{{ faq.answer|slice:30 }}...</a></td>
                    {% else %}
                        <td><a href="{{ faq.get_absolute_url }}" class="d-block text-white text-decoration-none">{{ faq.answer }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'administration/paginate.html' %}
</div>

{% endblock content %}