{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Üzenet módosítás{% endblock head_title %}

{% block content %}

<div class="container my-5 text-white">
    <div class="text-center">
        <h2>Üzenet módosítás</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row hd-shadow p-3">
            <div class="col-4">
                {{ form.last_name|as_crispy_field }}
                {{ form.first_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-8">
                {{ form.message|as_crispy_field }}
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-primary" href="{% url 'admin_core:crm:message-list' %}">Vissza</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}