{% extends 'administration/base.html' %}

{% block head_title %}Partnerek{% endblock head_title %}

{% block content %}

<div class="container my-5">
    <div class="text-white text-center">
        <h1>Partnerek</h1>
    </div>
    <table class="table table-dark table-hover mt-5">
        <thead>
            <tr>
                {% if last_order_type and last_order_type == 'desc' %}
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=last_name">Név</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=email">E-mail cím</a></th>
                {% else %}
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=-last_name">Név</a></th>
                    <th scope="col"><a class="text-white text-decoration-none" href="?order_by=-email">E-mail cím</a></th>
                {% endif %}
                <th scope="col">Összes nettó költés</th>
                <th scope="col">Összes bruttó költés</th>
                <th scope="col">Tartozás</th>
            </tr>
        </thead>
        <tbody>
            {% for partner in page_obj %}
                <tr>
                    {% if partner.last_name and partner.first_name %}
                        <td>{{ partner.last_name }} {{ partner.first_name }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ partner.email }}</td>
                    <td>{{ partner.get_spent_net_money }} Ft</td>
                    <td>{{ partner.get_spent_gross_money }} Ft</td>
                    <td>{{ partner.get_debt }} Ft</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'administration/paginate.html' %}
</div>

{% endblock content %}