{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Akció{% endblock head_title %}

{% block content %}

<div class="container my-5 text-white">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row hd-shadow p-3">
            <div class="col-6">
                {{ form.name|as_crispy_field }}
                {{ form.from_date|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.percent|as_crispy_field }}
                {{ form.to_date|as_crispy_field }}
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary me-2">Mentés</button>
                <a href="{% url 'admin_core:admin_action:action-list' %}" class="btn btn-primary">Mégsem</a>
            </div>
        </div>
    </form>
</div>


{% endblock %}