{% extends 'webshop/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Kapcsolat{% endblock %}

{% block content %}

<div class="container text-white my-5">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <h1 class="mb-5">Elérhetőségek</h1>
            <div class="border-start ps-3">
                <p>Székhely: 4242 Budapest, Teszt utca 42</p>
                <p>Telephely: 4242 Budapest, Teszt2 utca 42</p>
                <p>Cégjegyzékszám: 42-42-4242424</p>
                <p>Adószám: 42424242-4-24</p>
            </div>
            <div class="mt-5 border-start ps-3">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    <span class="ms-2">Telefon: +36-42-424-2424</span>
                </div>
                <div class="mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                    <span class="ms-2">Email: je78jy@inf.elte.hu</span>
                </div>
                <div class="mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                    <span class="ms-2">Weboldal: je78jy.hu</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
            <h1 class="mb-5">Üzenetküldés</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                {{ form.email|as_crispy_field }}
                {{ form.message|as_crispy_field }}
                <input type="submit" class="btn btn-primary btn-lg" value="Küldés">
            </form>
        </div>
    </div>
</div>

{% endblock %}