{% extends 'webshop/base.html' %}

{% block content %}

<section class="container py-5">
	<div class="row text-white">
		{% if faqs %}
		{% for faq in faqs %}
		<div class="mb-3 d-md-flex">
			<div class="col-md-3">
				{% if faq.is_visible_category %}
				<div class="mb-4 mb-md-0">
					<span class="hd-shadow p-2 text-primary">{{ faq.topic_id }}</span>
				</div>
				{% else %}
				<span></span>
				{% endif %}
			</div>
			<div class="col-md-9 border-bottom border-secondary">
				<h2>{{ faq.question }}</h2>
				<p>{{ faq.answer }}</p>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<h3 class="text-center">Jelenleg egyetlen kérdés sem áll rendelkezésre.</h3>
		<div class="text-center mt-2">
			<div class="spinner-grow text-primary" role="status"></div>
			<div class="spinner-grow text-primary" role="status"></div>
			<div class="spinner-grow text-primary" role="status"></div>
		</div>
		{% endif %}
	</div>
</section>

{% endblock content %}