{% load static %}

<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a href="{% url 'webshop_core:home' %}" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <img class="w-10 h-10" src="{% static 'images/shop_icon.svg'%}" alt="">
            <span class="ml-3 text-2xl font-semibold">JE78JY</span>
        </a>
        <nav
            class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700 flex flex-wrap items-center text-lg font-semibold justify-center">
            <button id="dropdownButton" data-dropdown-toggle="dropdown_category"
                class="mr-5 hover:text-white flex flex-wrap items-center font-semibold" type="button flex">Kategóriák<svg
                    class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg></button>
            <div id="dropdown_category"
                class="hidden z-10 w-44 text-base list-none rounded divide-y divide-gray-100 shadow bg-gray-800">
                <ul class="py-1" aria-labelledby="dropdownButton">
                    {% for category in base_categories %}
                    <li>
                        <a href="{% url 'webshop_product:product-list' %}?category={{ category.id }}"
                            class="block py-2 px-4 text-sm text-gray-400 hover:bg-gray-700 hover:text-white ">{{category.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="#" class="mr-5 hover:text-white">Akciós</a>
            <a href="{% url 'webshop_core:faq-list' %}" class="mr-5 hover:text-white">GY.I.K.</a>
        </nav>
        <nav
            class="md:ml-auto md:mr-4 md:py-1 md:pl-4 flex flex-wrap items-center text-lg font-semibold justify-center">
            {% if request.user.is_authenticated %}
            <button id="dropdownButton" data-dropdown-toggle="dropdown"
                class="mr-5 hover:text-white flex flex-wrap items-center font-semibold" type="button flex">Fiók<svg
                    class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg></button>

            <div id="dropdown"
                class="hidden z-10 w-44 text-base list-none rounded divide-y divide-gray-100 shadow bg-gray-800">
                <ul class="py-1" aria-labelledby="dropdownButton">
                    <li>
                        <a href="{% url 'webshop_core:user-data' %}"
                            class="block py-2 px-4 text-sm text-gray-400 hover:bg-gray-700 hover:text-white ">Adatok</a>
                    </li>
                    <li>
                        <a href="{% url 'webshop_core:user-orders' %}"
                            class="block py-2 px-4 text-sm text-gray-400 hover:bg-gray-700 hover:text-white ">Megrendelések</a>
                    </li>
                    {% if request.user.is_staff %}
                        <li>
                            <a href="{% url 'admin_core:home' %}"
                                class="block py-2 px-4 text-sm text-gray-400 hover:bg-gray-700 hover:text-white ">Admin</a>
                        </li>                     
                    {% endif %}
                </ul>
            </div>
            <a href="{% url 'webshop_cart:summary'%}" class="mr-5 hover:text-white">Kosár</a>
            <a href="{% url 'logout' %}" class="mr-5 hover:text-white">Kijelentkezés</a>
            {% else %}
            <a href="{% url 'login' %}" class="mr-5 hover:text-white">Bejelentkezés</a>
            <a href="{% url 'webshop_core:signup' %}" class="mr-5 hover:text-white">Regisztráció</a>
            {% endif %}
        </nav>
    </div>
</header>