{% load static %}

<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <img class="w-10 h-10" src="{% static 'images/shop_icon.svg'%}" alt="">
            <span class="ml-3 text-2xl font-semibold">JE78JY</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700 flex flex-wrap items-center text-lg font-semibold justify-center">
            <a href="{% url 'webshop_product:product-list' %}" class="mr-5 hover:text-white">Kategóriák</a>
            <a href="#" class="mr-5 hover:text-white">Akciós</a>
            <a href="#" class="mr-5 hover:text-white">GY.I.K.</a>
        </nav>
        <nav class="md:ml-auto md:mr-4 md:py-1 md:pl-4 flex flex-wrap items-center text-lg font-semibold justify-center">
            <a href="#" class="mr-5 hover:text-white">Kosár</a>
            <a href="#" class="mr-5 hover:text-white">Bejelentkezés</a>
        </nav>
    </div>
</header>