body {
    font-family: 'Poppins', sans-serif;
}

.hd-image-trans {
    transition: all 1.2s ease;
}

.hd-image-trans:hover {
    transform: scale(1.2);
}

.card {
    box-shadow: 0 4px 8px 0 #424242;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #0288D1;
}

.hd-red-a400 {
    color: #FF3D00;
}

.hd-shadow {
    box-shadow: 0 4px 8px 0 #424242;
    transition: 0.3s;
}

.hd-shadow:hover {
    box-shadow: 0 4px 8px 0 #0288D1;
    transition: 0.3s;
}

.hd-letter-space-1 {
    letter-spacing: 1px;
}

.hd-footer-mb {
    margin-bottom: 200px;
}

.hd-sm-img {
    max-width: 20px;
    height: auto;
}

.btn-primary {
    background: #424242;
    border: none;
    box-shadow: 0 4px 8px 0 #0288D1;
}

.btn-primary:hover {
    box-shadow: 0 4px 8px 0 #424242;
    transition: 0.3s;
}

.btn-danger {
    background: #424242;
    border: none;
    box-shadow: 0 4px 8px 0 #FF3D00;
}

.btn-danger:hover {
    box-shadow: 0 4px 8px 0 #424242;
    transition: 0.3s;
}

.hd-text-lblue {
    color: #93c5fd;
}

.hd-title {
    font-weight: 600;
    text-shadow: 4px 4px 0px  #696969;
    color: #fff;
}

.hd-text-lblue:hover {
    color: #bfdbfe;
    transition: 0.3s;
}

.hd-bg-lblue {
    background-color: #93c5fd;
}

.hd-card-text {
    color: #fff;
    background-color: #374151;
}

.hd-card-text:hover {
    color: #93c5fd;
}

.hd-card-text2 {
    color: #fff;
    background-color: #4b5563;
}

.hd-card-text2:hover {
    color: #93c5fd;
}